<!DOCTYPE html>
<html>
	<head>
		<title>Machineee</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Machineee</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<!-- workspaces/projects -->
			<a href="/projects">Projects</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
